<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add Reward</title>
</head>
<body>
<h1>Add Reward</h1>
<form action="#" th:action="@{/addReward}" th:object="${reward}" method="post">
    <label for="customerId">Customer ID:</label>
    <input type="number" id="customerId" th:field="*{customerId}" required />
    <br/>
    <label for="totalCashback">Total Cashback:</label>
    <input type="number" step="0.01" id="totalCashback" th:field="*{totalCashback}" required />
    <br/>
    <label for="currentBalance">Current Balance:</label>
    <input type="number" step="0.01" id="currentBalance" th:field="*{currentBalance}" required />
    <br/>
    <button type="submit">Add Reward</button>
</form>
</body>
</html>
